body{
  background-image: url("src/fundosite001.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.title {
	color: #a33232;
}

#ContadorDenuncias {
  border-radius: 5px;
  width: 100px;
  background-color: #FFFFFF;
}

#garota {
  width: 80%;
}